body
{
    margin: 0;
}

p, input, select, label
{
    font: 18px georgia, serif;
    color: rgb(70,70,70);
    line-height: 30px;
}

.no-effect:hover
{
	border: inherit;
	background-color: inherit;
	text-decoration: inherit;
}

header
{
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    position: relative;
 
    background-color: rgb(90,0,50);
}

header .logo
{
	float: left;
	position: relative;
	
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
	margin-right: 0;
	
	width: 300px;
	height: 100%;

    font: 50px/1 georgia, serif;
}

header .logo .vertical-align
{
	position: absolute;
	top: 50px;
}

header .logo a
{
	text-decoration: none;
    color: rgb(230,230,230);
}

header .logo a:hover
{
    border-bottom: 1px dashed rgb(230,230,230);
}

header nav
{
	position: relative;
	float: left;
    
	margin-left: 70px;
	height: 100%;
}

header nav .vertical-align
{
	position: absolute;
	top: 51px; /* 150 / 2 = 75 = half-height of container. 24 + 12 +12 = 48 = height of content */
}
    
header nav ul
{	
	height: 100%;
	width: 400px;
    margin: 0;
    padding: 0;

}

header nav li
{
    float: left;
    display: block;
	
    margin-left: 0;
    margin-right: 15px;
    
    list-style-type: none;
}

header nav li a
{	
    padding: 12px 2px;
	display: block;
    
	color: rgb(230,230,230);
    font: 24px/1 georgia, serif;
    text-decoration: none;

    transition: 0.2s background-color;
    -webkit-transition: 0.2s background-color;
    -moz-transition: 0.2s background-color;
}

header nav li a:hover
{
    text-decoration: underline;
}

#content
{
    position: absolute;
    top: 150px;
	left: 0;
	right: 0;
	
    padding-top: 20px;
    padding-left: 30px;
	
	background-color: rgb(235,235,235);
}

#content h2
{
    margin-bottom: 0;
    margin-top: 0;
	    
    font: 62px georgia, serif;
    color: rgb(130,0,70);
}

#content .col
{
    float: left;
    margin-bottom: 20px;
	margin-right: 20px;
}

#content .index-col
{
    width: 190px;
    clear: left;
}

#content .col p, #content .col input
{
    margin: 0;
}

#content .col input[type=text]
{
    width: 250px;
    border: 1px solid rgb(170,170,170);
    padding: 4px;
    font-size: 16px;
	line-height: normal;
	font-style: italic;
}

#content .col input[type=text]:focus
{
    border: 1px solid rgb(160,0,100);
    outline: none;
}

#content .col select
{
	border: 1px solid rgb(170,170,170);
	font-style: italic;
}

#content .col label
{
	line-height: normal;
	margin-left: 3px;
}

#content .error
{
	display: none;
	float: left;	
	position: relative;
	top: -14px;	
	
	margin-left: 40px;
	
	font-weight: bold;
	color: rgb(90,90,90);
}

#content .submit-creation
{
    clear: both;
    display: block;
	float: left;
	position: relative;
	
    padding: 0;
	margin-bottom: 20px;
	cursor: pointer;

    font-family: georgia, serif;
	font-style: italic;
	border: none;
	outline: none;
	background-color: transparent;
	color: black;
	/*
    color: white;
    border: 2px solid white;
    outline: 1px solid rgb(170,0,40);
    background-color: rgb(170,0,40);
	*/
    
/*    transition: 1.5s padding, 1.5s transform, 1.5s font-size;
    -webkit-transition: 1.5s padding, 1.5s -webkit-transform, 1.5s font-size;
    -moz-transition: 1.5s padding, 1.5s -moz-transform, 1.5s font-size;
    -o-transition: 1.5s padding, 1.5s -o-transform, 1.5s font-size;*/
}

#content .submit-creation:hover
{
    border-bottom: 1px dotted black;
}

#content .submit-creation:active
{
	top: 2px;
}

.color_cell
{
	display: block; 
	float: left; 
	height: 10px; 
	width: 10px; 
	background-position:center;
}

#content .tweak-size, canvas
{
	float: left;
}

#content .tweak-size
{
	margin-left: 20px;
	line-height: normal;
}

#content .tweak-size input
{
	line-height: normal;
	width: 50px;	
}

#content .tweak-size p
{
	display: inline;
}

@media all and (max-width: 768px)
{
	header
	{
		height: 100px;
	}

	header .logo
	{
		width: 240px;
		
		font-size: 36px;
	}			

	header .logo .vertical-align
	{
		top: 32px;
	}

	header nav 
	{
		margin-left: 10px;
	}

	header nav .vertical-align
	{
		top: 26px;	
	}

	header nav li a
	{
		font-size: 20px;
	}

	#content
	{
		top: 100px;
	}
} 